@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.AgendaContatoViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title"> 
        <h3 class="title">Agenda</h3> 
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarAdmin", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaAgenda", "Agenda")">Agenda</a>
            </li>
            <li>
                <a href="@Url.Action("EditarAgenda", "Agenda")">Agenda - Edição</a>
            </li>
            <li class="active">
                <strong>Agenda - Contatos - Inclusão</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Agenda - Contatos - Inclusão</h5>
                </div>
                @using (Html.BeginForm("IncluirContatoAgenda", "Agenda", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id="pwd-container1" }))
                {
                    <div class="ibox-content">
                        @Html.AntiForgeryToken()
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="row">
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                @Html.HiddenFor(m => m.AGEN_CD_ID)
                                @Html.HiddenFor(m => m.AGCO_IN_ATIVO)
                                @Html.HiddenFor(m => m.AGCO_IN_ENVIO)
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    Tipo de Contato*
                                    @Html.DropDownListFor(m => m.AGCO_IN_TIPO, (SelectList)ViewBag.Tipos, "Selecionar", new { @class = "form-control", autofocus = true, @id = "pessoa" })
                                    @Html.ValidationMessageFor(m => m.AGCO_IN_TIPO, "", new { @style = "color:red" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12" id="interno">
                                    Contato Interno
                                    @Html.DropDownListFor(m => m.USUA_CD_ID, (SelectList)ViewBag.Usuarios, "Selecionar", new { @class = "form-control", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.USUA_CD_ID, "", new { @style = "color:red" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12" id="nome">
                                    Nome
                                    @Html.TextBoxFor(m => m.AGCO_NM_NOME, new { @class = "form-control", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.AGCO_NM_NOME, "",new { @style="color:red" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12" id="mail">
                                    E-Mail
                                    @Html.TextBoxFor(m => m.AGCO_NM_EMAIL, new { @class = "form-control", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.AGCO_NM_EMAIL, "",new { @style="color:red" })
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">                
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    Anotação
                                    @Html.TextBoxFor(m => m.AGCO_DS_ANOTACAO, new { @class = "form-control", autofocus = true })
                                    @Html.ValidationMessageFor(m => m.AGCO_DS_ANOTACAO, "",new { @style="color:red" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.ButtonActionSubmit(text: "Confirma Inclusão de Contato", htmlAttributes: new { id = "basictoast" })
                            @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarAnexoAgenda", controller: "Agenda")
                        </div>
                    </div>
                }
            </div>
         </div>
    </div>
</div>

@section Styles {
}
@section Scripts {

    <script type="text/javascript">
        $(function () {
            $('#interno').hide();
            $('#nome').show();
            $('#mail').show();
        });
        $(document).ready(function () {
            $('#pessoa').on('change', function () {
                if (this.value == '2') {
                    $("#interno").hide();
                    $("#nome").show();
                    $("#mail").show();
                }
                else if (this.value == '1') {
                    $("#nome").hide();
                    $("#interno").show();
                    $("#mail").hide();
                }
            });
        });
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
