@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.CRMViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Processos</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaDashboardCRMNovo", "CRM")">Dashboard de Processos</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaCRM", "CRM")">Processos</a>
            </li>
            <li class="active">
                <strong>Processo - Cancelamento</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Processo - Cancelamento</h5>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "Erros de Crítica Encontrados:", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="tabs-container">
                        @using (Html.BeginForm("CancelarProcessoCRM", "CRM", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                        {

                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Dados de Cancelamento</a></li>
                            </ul>

                            <div class="tab-content">
                                @*Dados do Cancelamento*@
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        @if ((Int32)Session["TemAcao"] == 1)
                                        {
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12" style="background-color: burlywood; color: green; font-weight: bold">
                                                    <h4>Este processo tem ação ativa que não foi encerrada/cancelada. Encerre ou cancele essa ação antes de proceder ao cancelamento</h4>
                                                </div>
                                            </div>
                                        }
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                            <div class="col-lg-12 col-md-12 col-xs-12" style="background-color: burlywood; color: red; font-weight: bold">
                                                <h4>ATENÇÃO - Essa operação não poderá ser revertida</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    @Html.HiddenFor(m => m.ASSI_CD_ID)
                                                    @Html.HiddenFor(m => m.CRM1_AQ_IMAGEM)
                                                    @Html.HiddenFor(m => m.CRM1_CD_ID)
                                                    @Html.HiddenFor(m => m.CRM1_DS_DESCRICAO)
                                                    @Html.HiddenFor(m => m.CRM1_DS_INFORMACOES_ENCERRAMENTO)
                                                    @Html.HiddenFor(m => m.CRM1_DT_CRIACAO)
                                                    @Html.HiddenFor(m => m.CRM1_DT_ENCERRAMENTO)
                                                    @Html.HiddenFor(m => m.CRM1_IN_ATIVO)
                                                    @Html.HiddenFor(m => m.CRM1_IN_DUMMY)
                                                    @Html.HiddenFor(m => m.CRM1_IN_ESTRELA)
                                                    @Html.HiddenFor(m => m.CRM1_IN_STATUS)
                                                    @Html.HiddenFor(m => m.CRM1_NM_NOME)
                                                    @Html.HiddenFor(m => m.CRM1_TX_INFORMACOES_GERAIS)
                                                    @Html.HiddenFor(m => m.MENS_CD_ID)
                                                    @Html.HiddenFor(m => m.MOEN_CD_ID)
                                                    @Html.HiddenFor(m => m.ORIG_CD_ID)
                                                    @Html.HiddenFor(m => m.PEVE_CD_ID1)
                                                    @Html.HiddenFor(m => m.PEVE_CD_ID2)
                                                    @Html.HiddenFor(m => m.USUA_CD_ID)
                                                    @Html.HiddenFor(m => m.TICR_CD_ID)
                                                    @Html.HiddenFor(m => m.CLIE_CD_ID)
                                                    @Html.HiddenFor(m => m.CRM1_NR_TEMPERATURA)
                                                    @Html.HiddenFor(m => m.FUNI_CD_ID)
                                                    @Html.HiddenFor(m => m.EMPR_CD_ID)
                                                    @Html.HiddenFor(m => m.PREC_CD_ID)
                                                    Título do Processo
                                                    @Html.TextBoxFor(m => m.CRM1_NM_NOME, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Precatório
                                                    @Html.TextBoxFor(m => m.PRECATORIO.PREC_NM_PRECATORIO, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-12">
                                                    Origem
                                                    @Html.TextBoxFor(m => m.CRM_ORIGEM.CROR_NM_NOME, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data Canc.*
                                                    @Html.TextBoxFor(m => m.CRM1_DT_CANCELAMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id="data1" })
                                                    @Html.ValidationMessageFor(m => m.CRM1_DT_CANCELAMENTO, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    Motivo do Cancelamento*
                                                    <div class="input-group">
                                                        @Html.DropDownListFor(m => m.MOCA_CD_ID, (SelectList)ViewBag.Motivos, "Selecionar", new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.MOCA_CD_ID, "", new { @style = "color:red" })
                                                        <span class="input-group-addon">
                                                            @Html.TableLinkAction("IncluirMotivoCancelamento1", "CRM", null, "glyphicon glyphicon-plus", "Adicionar Motivo")
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Justificativa do Cancelamento*
                                                    @Html.TextAreaFor(m => m.CRM1_DS_MOTIVO_CANCELAMENTO, new { @class = "form-control", style = "width: 100%; height: 100px;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.CRM1_DS_MOTIVO_CANCELAMENTO, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @if ((Int32)Session["TemAcao"] == 0)
                                            {
                                                @Html.ButtonActionSubmit(text: "Confirma Cancelamento do Processo", htmlAttributes: new { id = "basictoast" })
                                            }
                                            @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBaseCRM", controller: "CRM")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @*@Styles.Render("~/Content/plugins/summernote/summernote.css")*@
    <link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
    @Styles.Render("~/plugins/summernoteStyles")
}
@section Scripts {
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.datetimepicker"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    @*@Scripts.Render("~/Scripts/plugins/summernote/summernote.min.js")*@
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>    
    <script src="~/Scripts/uploadAnexo.js"></script>
    @Scripts.Render("~/plugins/summernote")

    <script>
        if (getUrlParameter('voltaCliente') == "1") {
            $('.btnSubmit').html('Salvar');
            $('.btnReturn').hide();
        }
    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>


    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#cep").mask("99999-999");
            $("#cep1").mask("99999-999");
            $("#data1").mask("99/99/9999");
            $("#tel").mask("(99)9999-9999");
            $("#alt_tel").mask("(99)9999-9999");
            $("#cel").mask("(99)99999-9999");
            $("#wh").mask("(99)99999-9999");
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Cancelamento em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>

    <script>
        SendFilesV2('imgCRM', 'CRM', 'UploadFileToSession');
    </script>


    <script>
        $('#filGeral option[value=10]').prop('selected', true);
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
