@using Presentation.Extensions
@using CrossCutting
@model EntitiesServices.Model.USUARIO
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div id="content" class="wraper container-fluid">
    <div class="page-title">
        <h3 class="title">Processos</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Dashboard de Processos</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12">
            @*Atalhos*@
            <div class="row">
                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                    <br />
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        @Html.ButtonLinkIndex(text: "Funis de Processo", action: "MontarTelaFunil", controller: "Funil", buttonClass: "success")
                        @Html.ButtonLinkIndex(text: "Precatórios", action: "MostrarClientes", controller: "CRM", buttonClass: "success")
                        @Html.ButtonLinkIndex(text: "Central de Processos", action: "MontarTelaCRM", controller: "CRM", buttonClass: "primary")
                        @Html.ButtonLinkIndex(text: "Processos - Kanban", action: "MontarTelaKanbanCRM", controller: "CRM", buttonClass: "primary")
                        @Html.ButtonLinkIndex(text: "Ações", action: "VerAcoesUsuarioCRMPrevia", controller: "CRM", buttonClass: "primary")
                        @Html.ButtonLinkIndex(text: "Propostas", action: "VerPedidosUsuarioCRMPrevia", controller: "CRM", buttonClass: "primary")
                        @Html.ButtonLinkIndex(text: "Mensagens Enviadas", action: "VerMensagensEnviadas3", controller: "CRM", buttonClass: "success")
                        @Html.ButtonLinkIndex(text: "Voltar", controller: "CRM", action: "Voltar")
                    </div>
                    <br /><br />
                </div>
            </div>

            @*Estatísticas*@
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <div class="ibox-content text-center">
                        <h1>@((String)Session["NomeMax"])</h1>
                        <div class="m-b-sm">
                            <img alt="image" class="img-circle" src="@Url.Content(Model.USUA_AQ_FOTO)" style="width: auto; height: auto; max-height: 140px; max-width: 140px;">
                        </div>
                        <div class="text-center">
                            @Html.ButtonLinkIndex(text: "Ver Perfil", action: "MontarTelaPerfilUsuario", controller: "Usuario", buttonClass: "btn btn-xs btn-white")
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-right">Hoje</span>
                            <h5>Resumo de Processos</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Total</small>
                                    <h4>@ViewBag.Total</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Ativos</small>
                                    <h4>@ViewBag.TotalAtivo</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Cancelados</small>
                                    <h4>@ViewBag.TotalCancelado</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Sucesso</small>
                                    <h4>@ViewBag.TotalSucesso</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Ações</small>
                                    <h4>@ViewBag.Acoes</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Pendências</small>
                                    <h4>@ViewBag.AcoesPend</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-right">Hoje</span>
                            <h5>Resumo Pessoal - Processos</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Total</small>
                                    <h4>@ViewBag.TotalPes</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Ativos</small>
                                    <h4>@ViewBag.TotalAtivoPes</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Cancelados</small>
                                    <h4>@ViewBag.TotalCanceladoPes</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Sucesso</small>
                                    <h4>@ViewBag.TotalSucessoPes</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Ações</small>
                                    <h4>@ViewBag.AcoesPes</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Pendências</small>
                                    <h4>@ViewBag.AcoesPendPes</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Indicadores*@
            <br />
            <div class="row">

                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Indicadores</h5>
                        </div>
                        <div class="ibox-content ibox-heading">
                            <h3><i class="fa fa-line-chart"></i> Indicadores</h3>
                            <small><i class="fa fa-tim"></i> Valores acumulados/atualizados até hoje</small>
                        </div>

                        <div class="ibox-content" style="height: 2100px">
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Processos/Dia - Mês Corrente</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <canvas id="barChartCRM" height="150"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Propostas/Dia - Mês Corrente</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <canvas id="barChartProposta" height="150"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Processos/Mês - 12 últimos meses</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <canvas id="barChartCRMMes" height="150"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Propostas/Mês - 12 últimos meses</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <canvas id="barChartPropostaMes" height="150"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Processos por Situação</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <canvas id="doughnutChartSit" height="150"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Ações por Status</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <canvas id="doughnutChartAcao" height="150"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Processos por Funil</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <canvas id="doughnutChartFunil" height="150"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Propostas por Status</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <canvas id="doughnutChartPed" height="150"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Lembretes Ativos</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                @if (ViewBag.ListaLemb != null && (ViewBag.ListaLemb as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).Count > 0)
                                                {
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead style="background-color:lightsteelblue">
                                                            <tr>
                                                                <th>Título</th>
                                                                <th>Data Lembrete</th>
                                                                <th class="td-one-action">Ações</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var cond in (ViewBag.ListaLemb as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).OrderBy(p => p.DataEmissao).ThenBy(p => p.Nome))
                                                            {
                                                                <tr>
                                                                    <td>@cond.Nome</td>
                                                                    @if (cond.DataEmissao.Date == DateTime.Today.Date)
                                                                    {
                                                                        <td style="color: green; font-weight: bold">@cond.DataEmissao.ToShortDateString()</td>
                                                                    }
                                                                    else if (cond.DataEmissao.Date < DateTime.Today.Date)
                                                                    {
                                                                        <td style="color: brown; font-weight: bold">@cond.DataEmissao.ToShortDateString()</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>@cond.DataEmissao.ToShortDateString()</td>
                                                                    }
                                                                    <td class="td-one-action">
                                                                        @Html.TableLinkDetails(cond.Valor, "VerLembrete", "fa-search", "Ver")
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                                else
                                                {
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-xs-12">
                                                        </div>
                                                        <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                                            <h4 style="font-weight: bold">Nenhum Lembrete Pendente</h4>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-xs-12">
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Alertas Ativos</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                @if (ViewBag.ListaAlerta != null && (ViewBag.ListaAlerta as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).Count > 0)
                                                {
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead style="background-color:lightsteelblue">
                                                            <tr>
                                                                <th>Título</th>
                                                                <th>Data Alerta</th>
                                                                <th class="td-one-action">Ações</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var cond in (ViewBag.ListaAlerta as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).OrderBy(p => p.DataEmissao).ThenBy(p => p.Nome))
                                                            {
                                                                <tr>
                                                                    <td>@cond.Nome</td>
                                                                    @if (cond.DataEmissao.Date == DateTime.Today.Date)
                                                                    {
                                                                        <td style="color: green; font-weight: bold">@cond.DataEmissao.ToShortDateString()</td>
                                                                    }
                                                                    else if (cond.DataEmissao.Date < DateTime.Today.Date)
                                                                    {
                                                                        <td style="color: brown; font-weight: bold">@cond.DataEmissao.ToShortDateString()</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>@cond.DataEmissao.ToShortDateString()</td>
                                                                    }
                                                                    <td class="td-one-action">
                                                                        @Html.TableLinkDetails(cond.Valor, "VerAlerta", "fa-search", "Ver")
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                                else
                                                {
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-xs-12">
                                                        </div>
                                                        <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                                            <h4 style="font-weight: bold">Nenhum Alerta Pendente</h4>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-xs-12">
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Ações Pendentes</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                @if (ViewBag.ListaPend != null && (ViewBag.ListaPend as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).Count > 0)
                                                {
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead style="background-color:lightsteelblue">
                                                            <tr>
                                                                <th>Ação</th>
                                                                <th>Previsão</th>
                                                                <th class="td-one-action">Ações</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var cond in (ViewBag.ListaPend as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).OrderBy(p => p.DataEmissao).ThenBy(p => p.Nome))
                                                            {
                                                                <tr>
                                                                    <td>@cond.Nome</td>
                                                                    @if (cond.DataEmissao.Date == DateTime.Today.Date)
                                                                    {
                                                                        <td style="color: green; font-weight: bold">@cond.DataEmissao.ToShortDateString()</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>@cond.DataEmissao.ToShortDateString()</td>
                                                                    }
                                                                    <td class="td-one-action">
                                                                        @Html.TableLinkDetails(cond.Valor, "VerAcao", "fa-search", "Ver")
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                                else
                                                {
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-xs-12">
                                                        </div>
                                                        <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                                            <h4 style="font-weight: bold">Nenhuma Ação Pendente</h4>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-xs-12">
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Ações Atrasadas</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                @if (ViewBag.ListaAtraso != null && (ViewBag.ListaAtraso as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).Count > 0)
                                                {
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead style="background-color:lightsteelblue">
                                                            <tr>
                                                                <th>Ação</th>
                                                                <th>Previsão</th>
                                                                <th class="td-one-action">Ações</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var cond in (ViewBag.ListaAtraso as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).OrderBy(p => p.DataEmissao).ThenBy(p => p.Nome))
                                                            {
                                                                <tr>
                                                                    <td>@cond.Nome</td>
                                                                    <td style="color: brown; font-weight: bold">@cond.DataEmissao.ToShortDateString()</td>
                                                                    <td class="td-one-action">
                                                                        @Html.TableLinkDetails(cond.Valor, "VerAcao", "fa-search", "Ver")
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                                else
                                                {
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-xs-12">
                                                        </div>
                                                        <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-10 col-md-10 col-xs-8">
                                                            <h4 style="font-weight: bold">Nenhuma Ação Atrasada</h4>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-xs-12">
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Processos por Funil/Etapa</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                @if ((ViewBag.ListaEtapa as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).Count > 0)
                                                {
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead style="background-color:lightsteelblue">
                                                            <tr>
                                                                <th>Funil</th>
                                                                <th>Etapa</th>
                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var cond in (ViewBag.ListaEtapa as List<ERP_Condominios_Solution.ViewModels.ModeloViewModel>).OrderBy(p => p.Nome).ThenBy(p => p.Nome1))
                                                            {
                                                                <tr>
                                                                    <td>@cond.Nome</td>
                                                                    <td>@cond.Nome1</td>
                                                                    <td>@cond.Valor</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chartjs")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>



    <script>
        function mostrarDesc(desc) {
            $('#modalDescBody').html(desc);
            $('#modalDesc').modal('show');
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('body').addClass('light-navbar');

            $("#sparkline1").sparkline([5, 12, 6, 4, 15, 1, 11, 8], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('body').addClass('light-navbar');

            $("#sparkline2").sparkline([1, 3, 6, 2, 7, 1, 5, 3], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../CRM/GetDadosGraficoCRMSituacao'
                , type: 'POST'
                , success: function (result) {
                var doughnutData = {
                   labels: result.labels,
                   datasets: [{
                     data: result.valores,
                     backgroundColor: result.cores
                   }]
                };
                var doughnutOptions = {
                   responsive: true
                };
                var ctx4 = document.getElementById("doughnutChartSit").getContext("2d");
                new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });
              }
            });
        });
    </script>
    
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../CRM/GetDadosGraficoCRMFunil'
                , type: 'POST'
                , success: function (result) {
                var doughnutData = {
                   labels: result.labels,
                   datasets: [{
                     data: result.valores,
                     backgroundColor: result.cores
                   }]
                };
                var doughnutOptions = {
                   responsive: true
                };
                var ctx4 = document.getElementById("doughnutChartFunil").getContext("2d");
                new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });
              }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../CRM/GetDadosGraficoPropostaSituacao'
                , type: 'POST'
                , success: function (result) {
                var doughnutData = {
                   labels: result.labels,
                   datasets: [{
                     data: result.valores,
                     backgroundColor: result.cores
                   }]
                };
                var doughnutOptions = {
                   responsive: true
                };
                var ctx4 = document.getElementById("doughnutChartPropostaSit").getContext("2d");
                new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });
              }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../CRM/GetDadosGraficoCRMStatus'
                , type: 'POST'
                , success: function (result) {
                var doughnutData = {
                   labels: result.labels,
                   datasets: [{
                     data: result.valores,
                     backgroundColor: result.cores
                   }]
                };
                var doughnutOptions = {
                   responsive: true
                };
                var ctx4 = document.getElementById("doughnutChart1").getContext("2d");
                new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });
              }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../CRM/GetDadosGraficoCRM'
                , type: 'POST'
                , success: function (result) {
                var barData = {
                    labels: result.dias,
                    datasets: [
                        {
                            label: "Total por Dia",
                            backgroundColor: 'rgba(26,179,148,0.5)',
                            pointBorderColor: "#fff",
                            data: result.valores
                        }
                    ]
                };

                var barOptions = {
                    responsive: true
                };

                var ctx2 = document.getElementById("barChartCRM").getContext("2d");
                new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });
              }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../CRM/GetDadosGraficoCRMMes'
                , type: 'POST'
                , success: function (result) {
                var barData = {
                    labels: result.meses,
                    datasets: [
                        {
                            label: "Total por Mês",
                            backgroundColor: 'rgba(26,179,148,0.5)',
                            pointBorderColor: "#fff",
                            data: result.valores
                        }
                    ]
                };

                var barOptions = {
                    responsive: true
                };

                var ctx2 = document.getElementById("barChartCRMMes").getContext("2d");
                new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });
              }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../CRM/GetDadosGraficoProposta'
                , type: 'POST'
                , success: function (result) {
                var barData = {
                    labels: result.dias,
                    datasets: [
                        {
                            label: "Total por Dia",
                            backgroundColor: 'rgba(26,179,148,0.5)',
                            pointBorderColor: "#fff",
                            data: result.valores
                        }
                    ]
                };

                var barOptions = {
                    responsive: true
                };

                var ctx2 = document.getElementById("barChartProposta").getContext("2d");
                new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });
              }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../CRM/GetDadosGraficoPropostaMes'
                , type: 'POST'
                , success: function (result) {
                var barData = {
                    labels: result.meses,
                    datasets: [
                        {
                            label: "Total por Mês",
                            backgroundColor: 'rgba(26,179,148,0.5)',
                            pointBorderColor: "#fff",
                            data: result.valores
                        }
                    ]
                };

                var barOptions = {
                    responsive: true
                };

                var ctx2 = document.getElementById("barChartPropostaMes").getContext("2d");
                new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });
              }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../CRM/GetDadosGraficoAcaoStatus'
                , type: 'POST'
                , success: function (result) {
                var doughnutData = {
                   labels: result.labels,
                   datasets: [{
                     data: result.valores,
                     backgroundColor: result.cores
                   }]
                };
                var doughnutOptions = {
                   responsive: true
                };
                var ctx4 = document.getElementById("doughnutChartAcao").getContext("2d");
                new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });
              }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../CRM/GetDadosGraficoPropostaStatus'
                , type: 'POST'
                , success: function (result) {
                var doughnutData = {
                   labels: result.labels,
                   datasets: [{
                     data: result.valores,
                     backgroundColor: result.cores
                   }]
                };
                var doughnutOptions = {
                   responsive: true
                };
                var ctx4 = document.getElementById("doughnutChartPed").getContext("2d");
                new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });
              }
            });
        });
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
