@using Presentation.Extensions
@using CrossCutting;
@using EntitiesServices.Work_Classes;
@model EntitiesServices.Model.CRM
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="containerModalDesc">
        <div class="modal fade" id="modalDesc" tabindex="-1" role="dialog" aria-labelledby="modalDesc" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDesc">Descrição do Processo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modalDescBody" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title">
        <h3 class="title">Processos</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaDashboardCRMNovo", "CRM")">Dashboard de Processos</a>
            </li>
            <li class="active">
                <strong>Processos</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                </div>

                @using (Html.BeginForm("FiltrarCRM", "CRM", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Funil
                                @Html.DropDownListFor(m => m.FUNI_CD_ID, (SelectList)ViewBag.Funis, "Selecionar", new { @class = "form-control", autofocus = true })
                            </div>
                        </div>
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-12 col-md-12 col-xs-12">                                     
                                @Html.ButtonActionSubmit(text: "Filtrar")
                                @Html.ButtonLinkIndex(text: "Incluir Novo Processo", controller: "CRM", action: "IncluirProcessoCRM", buttonClass: "primary")
                                @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "CRM", action: "RetirarFiltroCRM")
                                @Html.ButtonLinkIndex(text: "Visualização em Lista", controller: "CRM", action: "MontarTelaCRM")
                                @Html.ButtonLinkIndex(text: "Ações do Usuário", controller: "CRM", action: "VerAcoesUsuarioCRMPrevia1")
                                @Html.ButtonLinkIndex(text: "Propostas", action: "VerPedidosUsuarioCRMPrevia", controller: "CRM")
                                @Html.ButtonLinkIndex(text: "Histórico", controller: "CRM", action: "MontarTelaHistoricoGeral")
                                @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaDashboardCRMNovo", controller: "CRM")                
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12"  id="Kanban">
            <div class="ibox-title">
                <h5>Processos</h5>
            </div>
            <div class="ibox-content">
                <div id="kanbanContainer" class="row">
                    @if (ViewBag.NumEtapas == 5)
                    {
                        <div class="col-lg-5ths col-md-5ths col-xs-5ths">
                            <h3>@((String)Session["Session1"])</h3>
                            <ul class="sortable-list connectList agile-list ui-sortable" data-classe="warning-element" data-status="1" id="etapa1">
                            </ul>
                        </div>
                        <div class="col-lg-5ths col-md-5ths col-xs-5ths">
                            <h3>@((String)Session["Session2"])</h3>
                            <ul class="sortable-list connectList agile-list ui-sortable" data-classe="warning-element" data-status="2" id="etapa2">
                            </ul>
                        </div>
                        <div class="col-lg-5ths col-md-5ths col-xs-5ths">
                            <h3>@((String)Session["Session3"])</h3>
                            <ul class="sortable-list connectList agile-list ui-sortable" data-classe="primary-element" data-status="3" id="etapa3">
                            </ul>
                        </div>
                        <div class="col-lg-5ths col-md-5ths col-xs-5ths">
                            <h3>@((String)Session["Session4"])</h3>
                            <ul class="sortable-list connectList agile-list ui-sortable" data-classe="primary-element" data-status="4" id="etapa4">
                            </ul>
                        </div>
                        <div class="col-lg-5ths col-md-5ths col-xs-5ths">
                            <h3>@((String)Session["Session5"])</h3>
                            <ul class="sortable-list connectList agile-list ui-sortable" data-classe="success-element" data-status="5" id="etapa5">
                            </ul>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    <link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
    @Styles.Render("~/plugins/summernoteStyles")
}
@section Scripts {
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.datetimepicker"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>    
    <script src="~/Scripts/uploadAnexo.js"></script>
    @Scripts.Render("~/plugins/summernote")
    
    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }

        function ShowModalExcluir(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma arquivamento do Processo?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }

        function ShowModalReativar(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Reativar" class="btn btn-primary" href="' + url + '" target="_self" title="Reativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma reativação do Processo?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Reativação</h5>');
            $('#modal').modal('show');
        }

        function ShowModalEstrelaSim(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma Favorito?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Favorito</h5>');
            $('#modal').modal('show');
        }

        function ShowModalEstrelaNao(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma Retirar Favorito?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Retirar Favorito</h5>');
            $('#modal').modal('show');
        }
    </script>  
    <script>
        function mostrarDesc(desc) {
            $('#modalDescBody').html(desc);
            $('#modalDesc').modal('show');
        }
    </script>
    
    <script type="text/javascript">
        function ValidaDiv(valPessoa) {
            if (valPessoa == '2') {
                $("#Lista").hide();
                $("#Kanban").show();
            } else if (valPessoa == '1') {
                $("#Kanban").hide();
                $("#Lista").show();
        }

        $(document).ready(function () {
            ValidaDiv($('#visao').val());
        });
    </script>

    <script>
        $("#lstCliente").select2({
            //data: filterSelect,
            ajax: {
                url: '../Cliente/BuscaNomeRazao',
                type: 'POST',
                data: function (params) {
                    var query = {
                        nome: params.term
                    }
                    return query
                },
                processResults: function (data) {
                    console.log(data);
                    return {
                        results: data
                    }
                }
            },
            placeholder: 'Busque por NOME ou RAZÃO SOCIAL',
            minimumInputLength: 1
        });
    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });      
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#data1").mask("99/99/9999");
            $("#data2").mask("99/99/9999");
        });
    </script>

    <script>
        function MudaIdCliente(id) {
            $('#idClie').val(id);
        }
    </script>

    <script>
        function GetCurrentDate() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = dd + '/' + mm + '/' + yyyy;
            return today;
        }
    </script>

    <script>
        $.ajax({
            url: '../CRM/GetProcessos'
            , type: 'POST'
            , success: function (r)
            {
                r.forEach(function (e)
                {
                    var element = $('<li class="ui-sortable-handle" data-id="' + e.CRM1_CD_ID + '">'
                        + '<h5 style="color: green">' + e.CRM1_NM_CLIENTE + '</h5>'
                        + '<h4 style="text-decoration: underline" onclick="redirectEditar(' + e.CRM1_CD_ID + ')">' + e.CRM1_NM_NOME + '</h4>'
                        + '<div class="agile-detail">'
                        + '<i class="fa fa-clock-o"></i>'
                        + ' Início: ' + e.CRM1_DT_CRIACAO
                        + '</li>');
                    var element1 = $('<li class="ui-sortable-handle" data-id="' + e.CRM1_CD_ID + '">'
                        + '<h5 style="color: green">' + e.CRM1_NM_CLIENTE + '</h5>'
                        + '<h5 style="text-decoration: underline" onclick="redirectEditarTravado(' + e.CRM1_CD_ID + ')">' + e.CRM1_NM_NOME + '</h5>'
                        + '<div class="agile-detail">'
                        + '<i class="fa fa-clock-o"></i>'
                        + ' Início: ' + e.CRM1_DT_CRIACAO
                        + '<br /><i class="fa fa-clock-o"></i>'
                        + ' Final: ' + e.CRM1_DT_ENCERRAMENTO
                        + '</li>');

                    if (e.CRM1_IN_STATUS == 1)
                    { // coluna 1
                        if (e.CRM1_DT_ENCERRAMENTO != null)
                        {
                            element1.addClass('success-element');
                            $('#etapa1').append(element1);
                        }
                        else
                        {
                            element.addClass('warning-element');
                            $('#etapa1').append(element);
                        }
                    }
                    if (e.CRM1_IN_STATUS == 2)
                    { // coluna 2
                        if (e.CRM1_DT_ENCERRAMENTO != null)
                        {
                            element1.addClass('success-element');
                            $('#etapa2').append(element1);
                        }
                        else
                        {
                            element.addClass('warning-element');
                            $('#etapa2').append(element);
                        }
                    }
                    if (e.CRM1_IN_STATUS == 3)
                    { // coluna 3
                        if (e.CRM1_DT_ENCERRAMENTO != null)
                        {
                            element1.addClass('success-element');
                            $('#etapa3').append(element1);
                        }
                        else
                        {
                            element.addClass('warning-element');
                            $('#etapa3').append(element);
                        }
                    }
                    if (e.CRM1_IN_STATUS == 4)
                    { // coluna 4
                        if (e.CRM1_DT_ENCERRAMENTO != null)
                        {
                            element1.addClass('success-element');
                            $('#etapa4').append(element1);
                        }
                        else
                        {
                            element.addClass('warning-element');
                            $('#etapa4').append(element);
                        }
                    }
                    if (e.CRM1_IN_STATUS == 5)
                    { // coluna 5
                        if (e.CRM1_DT_ENCERRAMENTO != null)
                        {
                            element1.addClass('success-element');
                            $('#etapa5').append(element1);
                        }
                        else
                        {
                            element.addClass('warning-element');
                            $('#etapa5').append(element);
                        }
                    }
                });
            }
        });


        $(function () {
            $('.connectList').sortable({
                connectWith: $('.connectList')
                , start: function (event, ui) {
                    ui.item.removeClass(ui.item.parent().attr('data-classe'));
                }
                , stop: function (event, ui) {
                    //append modal

                    if (ui.item.parent().attr('data-status') == "5") {
                        $('#dtEnc' + ui.item.attr('data-id')).remove();

                        ui.item.append('<div id="dtEnc' + ui.item.attr('data-id') + '">'
                            + '<hr />'
                            + '<div class="card" style="width: 18rem;">'
                            + '<div class="card-body">'
                            + '<h5 class="card-title">Data de Encerramento</h5>'
                            + '<p class="card-text"><input id="dtEncTarefa' + ui.item.attr('data-id') + '" type="text" class="form-control dtEnc" value="' + GetCurrentDate() + '" /></p >'
                            + '<span id="dtEncEnviar' + ui.item.attr('data-id')+'" class="btn btn-sm btn-success" onclick="EditarStatusDt(' + ui.item.attr('data-id') + ', ' + ui.item.parent().attr('data-status') + ')">Enviar</span>'
                            + '</div>'
                            + '</div>'
                            + '</div>'
                        );
                        InstanceDatePickerEnc();
                    }
                    else {
                        $('#dtEnc' + ui.item.attr('data-id')).remove();
                    }
                    ui.item.addClass(ui.item.parent().attr('data-classe'));
                    EditarStatus(ui.item.attr('data-id'), ui.item.parent().attr('data-status'))                    
                }
            });
        });

        function redirectEditar(id) {
            window.open("/CRM/AcompanhamentoProcessoCRM/" + id, '_self');
        }
        function redirectEditarTravado(id) {
            window.open("/CRM/VisualizarProcessoCRM/" + id, '_self');
        }

        function EditarStatus(id, status) {
            var data = {
                id: id
                , status: status
            }

            $.ajax({
                url: '../CRM/EditarStatusCRM'
                , type: 'POST'
                , data: data
                , success: function (e) {
                    console.log(e);
                }
            });
        }

        function EditarStatusDt(id, status) {
            var data = {
                id: id
                , status: status
                , dtEnc: $('#dtEncTarefa' + id).val() == undefined ? null : $('#dtEncTarefa' + id).val()
            }

            $.ajax({
                url: '../CRM/EditarStatusCRM'
                , type: 'POST'
                , data: data
                , success: function (e) {
                    if (e == 'SUCCESS') {
                        var p = $('#dtEncTarefa' + id).parent();

                        $('#dtEncTarefa' + id).remove();
                        $('#dtEncEnviar' + id).remove();

                        p.html(data.dtEnc);
                    }
                    else {
                        $('#dtEncTarefa' + id).parent().append('<span class="field-validation-error" data-valmsg-replace="true" style="color:red">' + e + '</span>');
                    }
                }
            });
        }
    </script>

    <script>
        function InstanceDatePickerEnc() {
            $('.dtEnc').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        }
    </script>

}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

