@using Presentation.Extensions
@using CrossCutting
@model EntitiesServices.Model.USUARIO
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div id="content" class="wraper container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <div class="ibox-content text-center">
                        <h1>@((String)Session["NomeMax"])</h1>
                        <div class="m-b-sm">
                            <img alt="image" class="img-circle" src="@Url.Content(Model.USUA_AQ_FOTO)" style="width: auto; height: auto; max-height: 140px; max-width: 140px;">
                        </div>
                        <div class="text-center">
                            @Html.ButtonLinkIndex(text: "Ver Perfil", action: "MontarTelaPerfilUsuario", controller: "Usuario", buttonClass: "btn btn-xs btn-white")
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Hoje</span>
                            <h5>Atividade do Usuário</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Acessos</small>
                                    <h4>@Model.USUA_NR_ACESSOS</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">Falhas de Login</small>
                                    <h4>@Model.USUA_NR_FALHAS</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Transações/Hoje</small>
                                    <h4>@((Int32)Session["Logs"])</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Último Acesso</small>
                                    <h4>@Model.USUA_DT_ACESSO.Value.ToShortDateString()</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">Última Alteração</small>
                                    @if (Model.USUA_DT_ALTERACAO == null)
                                    {
                                        <h4>Não há</h4>
                                    }
                                    else
                                    {
                                        <h4>@Model.USUA_DT_ALTERACAO.Value.ToShortDateString()</h4>
                                    }
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Última Falha</small>
                                    @if (Model.USUA_DT_ULTIMA_FALHA == null)
                                    {
                                        <h4>Não há</h4>
                                    }
                                    else
                                    {
                                        <h4>@Model.USUA_DT_ULTIMA_FALHA.Value.ToShortDateString()</h4>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.ButtonLinkIndex(text: "Cadastros", action: "MontarTelaDashboardCadastros", controller: "BaseAdmin", buttonClass: "primary")    
                    @Html.ButtonLinkIndex(text: "Contatos Telefônicos", action: "MontarTelaContato", controller: "Precatorio", buttonClass: "primary")    
                    @Html.ButtonLinkIndex(text: "Mensageria e Marketing", action: "MontarTelaDashboardMensagens", controller: "Mensagem", buttonClass: "primary")                
                    @Html.ButtonLinkIndex(text: "Processos - CRM", action: "MontarTelaDashboardCRMNovo", controller: "CRM", buttonClass: "primary")                
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Hoje</span>
                            <h5>Painel de Tarefas e Compromissos</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Total de Tarefas</small>
                                    <h4>@((Int32)Session["Tarefas"])</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">Tarefas Abertas</small>
                                    <h4>@((Int32)Session["TarefasPendentes"])</h4>
                                </div>
                                <div class="col-xs-4">
                                    @Html.ButtonLinkIndex(text: "Tarefas", action: "MontarTelaTarefa", controller: "Tarefa")
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Agenda Hoje</small>
                                    <h4>@((Int32)Session["NumAgendasHoje"])</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Agenda</small>
                                    <h4>@((Int32)Session["NumAgendas"])</h4>
                                </div>
                                <div class="col-xs-4">
                                    @Html.ButtonLinkIndex(text: "Agenda", action: "MontarTelaAgendaCalendario", controller: "Agenda")
                                </div>
                            </div>
                        </div>
                    </div>
                    @if ((String)Session["PerfilSigla"] == "ADM" || (String)Session["PerfilSigla"] == "GER")
                    {
                        @Html.ButtonLinkIndex(text: "Administração", action: "MontarTelaDashboardAdministracao", controller: "BaseAdmin", buttonClass: "success")                
                    }
                </div>                
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <br />
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Notificações</h5>
                        </div>
                        <div class="ibox-content ibox-heading">
                            <h3><i class="fa fa-envelope-o"></i> Novas Notificações</h3>
                            <small><i class="fa fa-tim"></i> Você tem @((Int32)Session["NovasNotificacoes"]) novas notificações </small>
                        </div>
                        <div class="ibox-content">
                            @using (Html.BeginForm("CarregarBase", "BaseAdmnin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                <div class="feed-activity-list">
                                    @if (Model.NOTIFICACAO.Count > 0)
                                    {
                                        foreach (var cond in (((List<EntitiesServices.Model.NOTIFICACAO>)Session["ListaNovas"]) as List<EntitiesServices.Model.NOTIFICACAO>))
                                        {
                                            if (cond.NOTI_DT_VALIDADE >= DateTime.Today)
                                            {
                                                <div class="feed-element">
                                                    <div>
                                                        @if (cond.NOTI_IN_NIVEL == 1)
                                                        {
                                                            <span class="label label-danger pull-left">Urgente</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-warning pull-left">Aviso</span>
                                                        }
                                                        &nbsp; &nbsp;
                                                        @if (cond.NOTI_IN_VISTA == 0)
                                                        {   
                                                            <span class="label label-success pull-left">Em Aberto</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-primary pull-left">Lida</span>
                                                        }

                                                        <small class="pull-right text-navy">@CrossCutting.Formatters.DiffTimeFormatter(cond.NOTI_DT_EMISSAO.Value)</small>
                                                        <br />
                                                        <br />
                                                        <a href="@Url.Action("VerNotificacao", "Notificacao", new { id = cond.NOTI_CD_ID })" class="btn-link">
                                                            <h4>
                                                                <strong>@cond.NOTI_NM_TITULO</strong>
                                                            </h4>
                                                        </a>
                                                        <br />
                                                        @if (cond.NOTI_TX_TEXTO != null)
                                                        {
                                                            if (cond.NOTI_TX_TEXTO.Length > 200)
                                                            {
                                                                <div>@cond.NOTI_TX_TEXTO.Substring(0, 200) ...</div>
                                                            }
                                                            else
                                                            {
                                                                <div>@cond.NOTI_TX_TEXTO</div>
                                                            }
                                                        }
                                                        <br />
                                                        <small class="text-muted">@cond.NOTIFICACAO_ANEXO.Count anexos</small>
                                                        <br />
                                                        <small class="text-muted">@CrossCutting.Formatters.LongDateFormatter(cond.NOTI_DT_EMISSAO.Value)</small> &nbsp;&nbsp;&nbsp;&nbsp;
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                    <div class="form-group">
                                        @Html.ButtonLinkIndex(text: "Ir Para Notificações", action: "MontarTelaNotificacao", controller: "Notificacao")
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <br />
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Notícias</h5>
                        </div>
                        <div class="ibox-content ibox-heading">
                            <h3><i class="fa fa-newspaper-o"></i> Novas Notícias</h3>
                            <small><i class="fa fa-tim"></i> Você tem @((Int32)Session["NoticiasNumero"]) novas notícias </small>
                        </div>
                        <div class="ibox-content">
                            @using (Html.BeginForm("CarregarBase", "BaseAdmnin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                if ((Session["Noticias"] as List<EntitiesServices.Model.NOTICIA>).Count > 0)
                                {
                                    foreach (var cond in (Session["Noticias"] as List<EntitiesServices.Model.NOTICIA>))
                                    {
                                        if (cond.NOTC_DT_VALIDADE >= DateTime.Today)
                                        {
                                            <div class="ibox">
                                                <div class="ibox-content">
                                                    <a href="@Url.Action("VerNoticia", "Noticia", new { id = cond.NOTC_CD_ID })" class="btn-link">
                                                        <h2>
                                                            @cond.NOTC_NM_TITULO
                                                        </h2>
                                                    </a>
                                                    <div class="small m-b-xs">
                                                        <strong>@cond.NOTC_NM_AUTOR    </strong> <span class="text-muted"><i class="fa fa-clock-o"></i>    @cond.NOTC_DT_DATA_AUTOR.Value.ToLongDateString()</span>
                                                    </div>
                                                    <img src="@Url.Content(cond.NOTC_AQ_FOTO)" style="width: auto; height: auto; max-height: 190px; max-width: 120px;">
                                                    <p>
                                                        @if (cond.NOTC_TX_TEXTO.Length > 1000)
                                                        {
                                                            @cond.NOTC_TX_TEXTO.Substring(0, 1000)
                                                        }
                                                        else
                                                        {
                                                            @cond.NOTC_TX_TEXTO
                                                        }
                                                    </p>
                                                    <a href=@cond.NOTC_LK_LINK>@cond.NOTC_LK_LINK</a>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="small text-right">
                                                                <h5>Stats:</h5>
                                                                <div> <i class="fa fa-comments-o"> </i> @cond.NOTICIA_COMENTARIO.Count comentários </div>
                                                                <i class="fa fa-eye"> </i> @cond.NOTC_NR_ACESSO visualizações
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                                <div class="form-group">
                                    @Html.ButtonLinkIndex(text: "Ir Para Notícias", action: "MontarTelaUsuario", controller: "Noticia")
                                </div>
                            }
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-4">
                    <br />
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Vídeos</h5>
                        </div>
                        <div class="ibox-content ibox-heading">
                            <h3><i class="fa fa-newspaper-o"></i> Novos Vídeos</h3>
                            <small><i class="fa fa-tim"></i> Você tem @((Int32)Session["VideosNumero"]) novos vídeos </small>
                        </div>
                        <div class="ibox-content">
                            @using (Html.BeginForm("CarregarBase", "BaseAdmnin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                if ((Session["Videos"] as List<EntitiesServices.Model.VIDEO>).Count > 0)
                                {
                                    foreach (var cond in (Session["Videos"] as List<EntitiesServices.Model.VIDEO>))
                                    {
                                        if (cond.VIDE_DT_VALIDADE >= DateTime.Today)
                                        {
                                            <div class="ibox">
                                                <div class="ibox-content">
                                                    <img src="@Url.Content(cond.VIDE_AQ_FOTO)" style="width: auto; height: auto; max-height: 400px; max-width: 430px;">
                                                    <a href="@Url.Action("VerVideo", "Video", new { id = cond.VIDE_CD_ID })" class="btn-link">
                                                        <h2>
                                                            @cond.VIDE_NM_TITULO
                                                        </h2>
                                                    </a>
                                                    <a href=@cond.VIDE_LK_LINK target="_blank">@cond.VIDE_LK_LINK</a>
                                                    <br /><br />
                                                    <p>
                                                        @if (cond.VIDE_NM_DESCRICAO.Length > 1000)
                                                        {
                                                            @cond.VIDE_NM_DESCRICAO.Substring(0, 1000)
                                                        }
                                                        else
                                                        {
                                                            @cond.VIDE_NM_DESCRICAO
                                                        }
                                                    </p>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="small text-right">
                                                                <h5>Stats:</h5>
                                                                <div> <i class="fa fa-comments-o"> </i> @cond.VIDEO_COMENTARIO.Count comentários </div>
                                                                <i class="fa fa-eye"> </i> @cond.VIDE_NR_ACESSOS visualizações
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                                <div class="form-group">
                                    @Html.ButtonLinkIndex(text: "Ir Para Vídeos", action: "MontarTelaUsuario", controller: "Video")
                                </div>
                            }
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @*@Styles.Render("~/Content/loadingDots.css")*@
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>

    @Scripts.Render("~/Scripts/notifier.js")
    @Scripts.Render("~/Scripts/notificationHandler.js")

    <script>
        $.ajax({
            url: '../BaseAdmin/GetRefreshTime'
            , type: 'POST'
            , success: function (r) {
                window.setInterval(function () {
                    window.location.href = "../BaseAdmin/CarregarBase"
                }, r * 1000);

                //clearInterval()
            }
        });
    </script>

    <script>
        function TrocaEmpresa(temp) {
            data = {
                temp: temp
            }
            $.ajax({
                url: '../BaseAdmin/TrocarEmpresa'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    $('#empresa').val(r.Nome);
                }
            });
        }
        $(document).ready(function () {
            TrocaEmpresa($('#troca').val());
        });
    </script>

    @*Notification Sound*@
    <script>
        $.ajax({
            url: '../BaseAdmin/GetConfigNotificacoes'
            , type: 'POST'
            , success: function (e) {
                console.log(e);

                var audio = {};
                audio["msg"] = new Audio();
                audio["msg"].src = "../Sounds/" + e.CONF_NM_ARQUIVO_ALARME;

                function PlayNotificationChime() {
                    audio["msg"].play();
                }

                if (e.NOTIFICACAO) {
                    PlayNotificationChime();
                }
            }
        });
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
