@using Presentation.Extensions
@model ERP_Condominios_Solution.ViewModels.BeneficiarioViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="modalContainer">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*Titulo gerado dinamicamente*@
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*Gerado dinamicamente*@
                    </div>
                    <div class="modal-footer">
                        <button onclick="limpaModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title">
        <h3 class="title">Beneficiários</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaBeneficiario", "Beneficiario")">Beneficiários</a>
            </li>
            <li class="active">
                <strong>Beneficiários - Edição</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Beneficiários - Edição</h5>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="tabs-container">
                        <div class="form-group">
                            @if (Model.BENE_EM_EMAIL != null)
                            {
                                @Html.ButtonLinkIndex(text: "Enviar E-Mail", action: "EnviarEmailBeneficiario", controller: "Beneficiario")
                            }
                            @if (Model.BENE_NR_CELULAR != null)
                            {
                                @Html.ButtonLinkIndex(text: "Enviar SMS", action: "EnviarSMSBeneficiario", controller: "Beneficiario")
                            }
                            @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBaseBeneficiario", controller: "Beneficiario")
                        </div>
                        
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">Dados Gerais</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2">Anexos</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-3">Anotações</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-8">Contatos</a></li>
                        </ul>

                        <div class="tab-content">
                            @*Dados Gerais*@
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    @using (Html.BeginForm("EditarBeneficiario", "Beneficiario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                                    {
                                        <div class="form-group">
                                            @Html.ButtonActionSubmit(text: "BtnSubmit", htmlAttributes: new { id = "submit", style = "display: none;" })
                                            <button class="btnSubmit btn btn-sm btn-success" id="basictoast" type="button">Confirma Edição de Beneficiário</button>
                                        </div>
                                        <div class="row">
                                            <h4 style="margin-left: 0px; color:saddlebrown; background-color: beige; font-weight:bold">Identificação</h4>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    @Html.HiddenFor(m => m.BENE_DT_CADASTRO)
                                                    @Html.HiddenFor(m => m.BENE_IN_ATIVO)
                                                    @Html.HiddenFor(m => m.BENE_CD_ID)
                                                    @Html.HiddenFor(m => m.TIPE_CD_ID)
                                                    Tipo de Pessoa
                                                    @Html.TextBoxFor(m => m.TIPO_PESSOA.TIPE_NM_NOME, new { @class = "form-control", @readonly="readonly", @style = "color:green; font-weight:bold"  })
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    Nome*
                                                    @Html.TextBoxFor(m => m.BENE_NM_NOME, new { @class = "form-control", autofocus = true, @style = "color:green; font-weight:bold" })
                                                    @Html.ValidationMessageFor(m => m.BENE_NM_NOME, "", new { @style = "color:red" })
                                                </div>
                                                @if (Model.TIPE_CD_ID == 2)
                                                {
                                                    <div class="col-lg-4 col-md-4 col-xs-12" id="PJ">
                                                        Razão Social
                                                        @Html.TextBoxFor(m => m.MOME_NM_RAZAO_SOCIAL, new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.MOME_NM_RAZAO_SOCIAL, "", new { @style = "color:red" })
                                                    </div>
                                                }
                                            </div>
                                            <div class="row">
                                            <h4 style="margin-left: 0px; color:saddlebrown; background-color: beige; font-weight:bold">Documentação</h4>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    @if (Model.TIPE_CD_ID == 2)
                                                    {
                                                        <div class="col-lg-2 col-md-2 col-xs-12"  id="PJ1">
                                                            CNPJ
                                                            @Html.TextBoxFor(m => m.BENE_NR_CNPJ, new { @class = "form-control", autofocus = true, @id = "cnpj" })
                                                            @Html.ValidationMessageFor(m => m.BENE_NR_CNPJ, "", new { @style = "color:red" })
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-lg-2 col-md-2 col-xs-12"  id="PF">
                                                            CPF
                                                            @Html.TextBoxFor(m => m.BENE_NR_CPF, new { @class = "form-control", autofocus = true, @id = "cpf" })
                                                            @Html.ValidationMessageFor(m => m.BENE_NR_CPF, "", new { @style = "color:red" })
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-xs-12" id="PF1">
                                                            RG
                                                            @Html.TextBoxFor(m => m.BENE_NR_RG, new { @class = "form-control", autofocus = true })
                                                            @Html.ValidationMessageFor(m => m.BENE_NR_RG, "", new { @style = "color:red" })
                                                        </div>
                                                    }
                                                </div>
                                            </div>

                                            @if (Model.TIPE_CD_ID == 1)
                                            {
                                                <div class="row">
                                                <h4 style="margin-left: 0px; color:saddlebrown; background-color: beige; font-weight:bold"  id="PF4">Dados Pessoais</h4>
                                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;" id="PF4">
                                                        <div class="col-lg-2 col-md-2 col-xs-12" >
                                                            Sexo    
                                                            @Html.DropDownListFor(m => m.SEXO_CD_ID, (SelectList)ViewBag.Sexo, "Selecionar", new { @class = "form-control", autofocus = true })
                                                            @Html.ValidationMessageFor(m => m.SEXO_CD_ID, "", new { @style = "color:red" })
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            Estado Civil
                                                            @Html.DropDownListFor(m => m.ESCI_CD_ID, (SelectList)ViewBag.EstadoCivil, "Selecionar", new { @class = "form-control", autofocus = true })
                                                            @Html.ValidationMessageFor(m => m.ESCI_CD_ID, "", new { @style = "color:red" })
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            Escolaridade
                                                            @Html.DropDownListFor(m => m.ESCO_CD_ID, (SelectList)ViewBag.Escolaridade, "Selecionar", new { @class = "form-control", autofocus = true })
                                                            @Html.ValidationMessageFor(m => m.ESCO_CD_ID, "", new { @style = "color:red" })
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            Data Nascimento
                                                            @Html.TextBoxFor(m => m.BENE_DT_NASCIMENTO, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "dn" })
                                                            @Html.ValidationMessageFor(m => m.BENE_DT_NASCIMENTO, "", new { @style = "color:red" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <h4 style="margin-left: 0px; color:saddlebrown; background-color: beige; font-weight:bold"  id="PF5">Parentesco</h4>
                                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;" id="PF5">
                                                        <div class="col-lg-2 col-md-2 col-xs-12">
                                                            Grau de Parentesco
                                                            @Html.DropDownListFor(m => m.PARE_CD_ID, (SelectList)ViewBag.Parentesco, "Selecionar", new { @class = "form-control", autofocus = true })
                                                            @Html.ValidationMessageFor(m => m.PARE_CD_ID, "", new { @style = "color:red" })
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-xs-12">
                                                            Nome do Parente
                                                            @Html.TextBoxFor(m => m.BENE_NM_PARENTESCO, new { @class = "form-control", autofocus = true })
                                                            @Html.ValidationMessageFor(m => m.BENE_NM_PARENTESCO, "", new { @style = "color:red" })
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            <div class="row">
                                                <h4 style="margin-left: 0px; color:saddlebrown; background-color: beige; font-weight:bold">Endereço</h4>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;" id="PF5">
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        Endereço
                                                        @Html.TextBoxFor(m => m.BENE_NM_ENDERECO, new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.BENE_NM_ENDERECO, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        Bairro
                                                        @Html.TextBoxFor(m => m.BENE_NM_BAIRRO, new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.BENE_NM_BAIRRO, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Cidade
                                                        @Html.TextBoxFor(m => m.BENE_NM_CIDADE, new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.BENE_NM_CIDADE, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        UF
                                                        @Html.DropDownListFor(m => m.UF_CD_ID, (SelectList)ViewBag.UF, "Selecionar", new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.UF_CD_ID, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        CEP
                                                        @Html.TextBoxFor(m => m.BENE_NR_CEP, new { @class = "form-control", autofocus = true, @id = "cep" })
                                                        @Html.ValidationMessageFor(m => m.BENE_NR_CEP, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <h4 style="margin-left: 0px; color:saddlebrown; background-color: beige; font-weight:bold">Contatos</h4>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;" id="PF5">
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        E-Mail
                                                        @Html.TextBoxFor(m => m.BENE_EM_EMAIL, new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.BENE_EM_EMAIL, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Telefone #1
                                                        @Html.TextBoxFor(m => m.BENE_NR_TELEFONE, new { @class = "form-control", autofocus = true, @id = "tel1" })
                                                        @Html.ValidationMessageFor(m => m.BENE_NR_TELEFONE, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Telefone #2
                                                        @Html.TextBoxFor(m => m.BENE_NR_TELEFONE2, new { @class = "form-control", autofocus = true , @id = "tel2"})
                                                        @Html.ValidationMessageFor(m => m.BENE_NR_TELEFONE2, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Telefone #3
                                                        @Html.TextBoxFor(m => m.BENE_NR_TELEFONE3, new { @class = "form-control", autofocus = true, @id = "tel3" })
                                                        @Html.ValidationMessageFor(m => m.BENE_NR_TELEFONE3, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Telefone #4
                                                        @Html.TextBoxFor(m => m.BENE_NR_TELEFONE4, new { @class = "form-control", autofocus = true, @id = "tel4"})
                                                        @Html.ValidationMessageFor(m => m.BENE_NR_TELEFONE4, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;" id="PF5">
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Celular #1
                                                        @Html.TextBoxFor(m => m.BENE_NR_CELULAR, new { @class = "form-control", autofocus = true, @id = "cel1" })
                                                        @Html.ValidationMessageFor(m => m.BENE_NR_CELULAR, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Celular #2
                                                        @Html.TextBoxFor(m => m.BENE_NR_CELULAR2, new { @class = "form-control", autofocus = true , @id = "cel2"})
                                                        @Html.ValidationMessageFor(m => m.BENE_NR_CELULAR2, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Celular #3
                                                        @Html.TextBoxFor(m => m.BENE_NR_CELULAR3, new { @class = "form-control", autofocus = true, @id = "cel3" })
                                                        @Html.ValidationMessageFor(m => m.BENE_NR_CELULAR3, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Celular #4
                                                        @Html.TextBoxFor(m => m.BENE_NR_CELULAR4, new { @class = "form-control", autofocus = true, @id = "cel4"})
                                                        @Html.ValidationMessageFor(m => m.BENE_NR_CELULAR4, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <h4 style="margin-left: 0px; color:saddlebrown; background-color: beige; font-weight:bold">Renda</h4>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Renda (R$)    
                                                        @Html.TextBoxFor(m => m.BENE_VL_RENDA, new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.BENE_VL_RENDA, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Renda Estimada (R$)    
                                                        @Html.TextBoxFor(m => m.BENE_VL_RENDA_ESTIMADA, new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.BENE_VL_RENDA_ESTIMADA, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            @*Anexos*@
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <hr />
                                        <div class="col-lg-12 col-md-12 col-xs-12"> 
                                            <h4>Anexos</h4>
                                            <br />
                                            <div class="form-group">
                                                @using (Html.BeginForm("UploadFileBeneficiario", "Beneficiario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @id="pwd-container2" }))
                                                {
                                                    <div class="ibox-content">
                                                        @if (Model.BENEFICIARIO_ANEXO.Count > 0)
                                                        {
                                                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                                                <thead style ="background-color:lightsteelblue">
                                                                    <tr>
                                                                        <th>Título</th>
                                                                        <th>Data</th>
                                                                        <th>Tipo</th>
                                                                        <th class="td-one-action">Ações</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var cond in (Model.BENEFICIARIO_ANEXO))
                                                                    {
                                                                        <tr>
                                                                            <td>@cond.BEAN_NM_TITULO</td>
                                                                            <td>@cond.BEAN_DT_ANEXO.Value.ToShortDateString()</td>
                                                                            @if (cond.BEAN_IN_TIPO == 1)
	                                                                        {
                                                                                <td><span class="badge badge-success">Imagem</span></td>
                                                                            }
                                                                            else if (cond.BEAN_IN_TIPO == 2)
                                                                            {
                                                                                <td><span class="badge badge-primary">Vídeo</span></td>
                                                                            }
                                                                            else if (cond.BEAN_IN_TIPO == 3)
                                                                            {
                                                                                <td><span class="badge badge-primary">PDF</span></td>
                                                                            }
                                                                            else if (cond.BEAN_IN_TIPO == 4)
                                                                            {
                                                                                <td><span class="badge badge-primary">Audio</span></td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td><span class="badge badge-primary">Arquivo</span></td>
                                                                            }
                                                                            <td class="td-one-action">
                                                                                @if (cond.BEAN_IN_TIPO == 1 || cond.BEAN_IN_TIPO == 2)
                                                                                {
                                                                                    @Html.TableLinkDetails(cond.BEAN_CD_ID, "VerAnexoBeneficiario", "fa-camera", "Visualizar")
                                                                                }
                                                                                @if (cond.BEAN_IN_TIPO == 4)
	                                                                            {
                                                                                    @Html.TableLinkDetails(cond.BEAN_IN_TIPO.Value, "VerAnexoBeneficiarioAudio","fa-volume-up", "Visualizar")
	                                                                            }
                                                                                @if (cond.BEAN_IN_TIPO == 3)
                                                                                {
                                                                                    <a title="Visualizar" class="fa fa-camera fa-lg" href="~/PdfViewer/web/viewer.html?file=@(cond.BEAN_AQ_ARQUIVO.Replace("~", ""))&ReturnUrl=@Request.Url.AbsolutePath" target="_blank"></a>
                                                                                }
                                                                                @Html.TableLinkDetails(cond.BEAN_CD_ID, "DownloadBeneficiario","fa-download", "Download")
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                        <input type="file" name="file" id="file" class="btn btn-sm btn-warning"/>
                                                        <br />
                                                        <div class="form-group">
                                                            <input type="submit" value="Incluir Anexo" class="btn btn-sm btn-success" />
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            @*Comentários*@
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body">
                                    <div class="ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 1px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 800px" >
                                        <div class="ibox-title"  style="color: black">
                                            <h5>Anotações</h5>
                                        </div>
                                        <div class="ibox-content" style="color: black; overflow: auto">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    @if (Model.BENEFICIARIO_ANOTACOES.Count > 0)
                                                    {
                                                        foreach (var item in (Model.BENEFICIARIO_ANOTACOES.Where(p => p.BECO_IN_ATIVO == 1)).OrderByDescending(a => a.BECO_DT_COMENTARIO))
                                                        {
                                                            <div class="social-feed-box">
                                                                <div class="social-avatar">
                                                                    <a href="" class="pull-left">
                                                                        <img src="@Url.Content(item.USUARIO.USUA_AQ_FOTO)" style="width: auto; height: auto; max-height: 110px; max-width: 90px;">
                                                                    </a>
                                                                    <span style="color: #337ab7; cursor:pointer;" alt="Excluir" class="tbl-link fa-lg fa fa-trash-o" onclick="ShowModalExcluirAnotacao('/Beneficiario/ExcluirComentario/@item.BECO_CD_ID')" title="Excluir"></span>
                                                                    <div class="media-body">
                                                                        <a href="@Url.Action("EditarComentario", "Beneficiario", new { id = item.BECO_CD_ID })">
                                                                            @item.USUARIO.USUA_NM_NOME
                                                                        </a>
                                                                        <small class="text-muted">@item.BECO_DT_COMENTARIO.Value.ToString("dd/MM/yyyy HH:mm")</small>
                                                                    </div>
                                                                </div>
                                                                <div class="social-body">
                                                                    <p>
                                                                        @item.BECO_TX_TEXTO
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-4 col-xs-2">

                                                            </div>
                                                            <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-4 col-md-4 col-xs-8">
                                                                <h2 style="font-weight: bold">Nenhuma anotação cadastrada nesse beneficiário</h2>
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-xs-2">

                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <br />
                                            <div class="form-group">
                                                @Html.ButtonLinkIndex(text: "Incluir Nova Anotação", action: "IncluirComentario", controller: "Beneficiario")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                   
                        
                            @*Contatos*@
                            <div id="tab-8" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <h4>Contatos Telefônicos</h4>
                                                <br />
                                                @if (Model.CONTATO.Count > 0)
                                                {
                                                    <table class="table table-striped table-bordered table-hover dataTables-example">
                                                        <thead style="background-color:lightsteelblue">
                                                            <tr>
                                                                <th>Data</th>
                                                                <th>Qualificação</th>
                                                                <th>Quem Desligou</th>
                                                                <th>Agente</th>
                                                                <th>Telefone</th>
                                                                <th>Protocolo</th>
                                                                <th class="td-one-action">Ações</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var cond in (Model.CONTATO))
                                                            {
                                                                <tr>
                                                                    <td>@cond.CONT_DT_CONTATO.Value.ToShortDateString()</td>
                                                                    <td>@cond.QUALIFICACAO.QUAL_NM_NOME</td>
                                                                    <td>@cond.QUEM_DESLIGOU.QUDE_NM_NOME</td>
                                                                    <td>@cond.CONT_NM_AGENTE</td>
                                                                    <td>@cond.CONT_NR_TELEFONE</td>
                                                                    <td>@cond.CONT_NR_PROTOCOLO</td>
                                                                    <td class="td-one-action">
                                                                        @Html.TableLinkDetails(cond.CONT_CD_ID, "VerContato", "fa-edit", "Consultar")
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                                else
                                                {
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-xs-2">

                                                        </div>
                                                        <div style="border: 5px solid #F6A54A; padding: 10px; border-radius: 8px 8px; " class="col-lg-4 col-md-4 col-xs-8">
                                                            <h2 style="font-weight: bold">Nenhum contato registrado nesse beneficiário</h2>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-xs-2">

                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            @Html.ButtonLinkIndex(text: "Incluir Novo Contato", action: "IncluirContato", controller: "Beneficiario")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts {
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.datetimepicker"></script>

    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script src="~/Scripts/uploadAnexo.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
            $("#cep").mask("99999-999");
            $('#tel').mask('(99)9999-9999');
            $('#dn').mask('99/99/9999');
            $('#cel').mask('(99)99999-9999');
            $('#tel2').mask('(99)9999-9999');
            $('#tel3').mask('(99)9999-9999');
            $('#tel4').mask('(99)9999-9999');
            $('#cel2').mask('(99)99999-9999');
            $('#cel3').mask('(99)99999-9999');
            $('#cel4').mask('(99)99999-9999');
        });
    </script>

    <script>
        $(function () {
            limpaModal();
        });

        function limpaModal() {
            $('#btnModal').remove();
            $('#modalTitle').remove();
        }
        function ShowModalExcluirEndereco(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de Endereço?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }

        function ShowModalReativarEndereco(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Reativar" class="btn btn-primary" href="' + url + '" target="_self" title="Reativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma reativação de Endereço?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Reativação</h5>');
            $('#modal').modal('show');
        }

        function ShowModalExcluirEMail(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de E-Mail?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }

        function ShowModalReativarEMail(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Reativar" class="btn btn-primary" href="' + url + '" target="_self" title="Reativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma reativação de E-Mail?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Reativação</h5>');
            $('#modal').modal('show');
        }

                function ShowModalExcluirTelefone(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Desativar" class="btn btn-primary" href="' + url + '" target="_self" title="Desativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma exclusão de Telefone?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Exclusão</h5>');
            $('#modal').modal('show');
        }

        function ShowModalReativarTelefone(url) {
            $('#modal').find('.modal-footer').prepend('<a id="btnModal" alt="Reativar" class="btn btn-primary" href="' + url + '" target="_self" title="Reativar">Confirmar</a>');
            $('#modal').find('.modal-body').html('Confirma reativação de Telefone?');
            $('#modal').find('.modal-header').prepend('<h5 id="modalTitle" class="modal-title">Confimar Reativação</h5>');
            $('#modal').modal('show');
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Inclusão em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>

    <script>
        SendFilesV2('imgTran', 'Beneficiario', 'UploadFileToSession');
    </script>
    <script>
        SendFilesV2('imgTransportadora', 'Beneficiario', 'UploadFileToSession');
    </script>

    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>
    <script type="text/javascript">
        function ValidaDiv(valPessoa) {
            if (valPessoa == '2') {
                $("#PF").hide();
                $("#PF1").hide();
                $("#PJ").show();
                $("#PJ1").show();
                $("#PJ2").show();
            } else if (valPessoa == '1') { //Se o tempo for mé igual a 2 mostra a divCpf
                $("#PJ").hide();
                $("#PJ1").hide();
                $("#PJ2").hide();
                $("#PF").show();
                $("#PF1").show();
            } else { //Se não for 1, 2 ou 4 esconde as duas
                $("#PJ").hide();
                $("#PJ1").hide();
                $("#PJ2").hide();
                $("#PF").hide();
                $("#PF1").hide();
            }
        }

        $(document).ready(function () {
            ValidaDiv($('#pessoa').val());
        });
    </script>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
