@using Presentation.Extensions
@using CrossCutting;
@model EntitiesServices.Model.CLIENTE
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title"> 
        <h3 class="title">Clientes</h3> 
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaCliente", "Cliente")">Clientes</a>
            </li>
            <li class="active">
                <strong>Clientes</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                </div>           
            
                @using (Html.BeginForm("FiltrarCliente", "Cliente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Categoria do Cliente
                                    @Html.DropDownListFor(m => m.CACL_CD_ID, (SelectList)ViewBag.Tipos, "Selecionar", new { @class = "form-control" })                            
                                </div>
                                <div class="col-lg-4 col-md-3 col-xs-12">
                                    Nome
                                    @Html.TextBoxFor(m => m.CLIE_NM_NOME, new { @class = "form-control", autofocus = true })
                                </div>
                                <div class="col-lg-2 col-md-3 col-xs-12">
                                    CPF
                                    @Html.TextBoxFor(m => m.CLIE_NR_CPF, new { @class = "form-control", @id="cpf", autofocus = true })
                                </div>
                                <div class="col-lg-2 col-md-3 col-xs-12">
                                    CNPJ
                                    @Html.TextBoxFor(m => m.CLIE_NR_CNPJ, new { @class = "form-control", @id="cnpj", autofocus = true })
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    E-Mail
                                    @Html.TextBoxFor(m => m.CLIE_NM_EMAIL, new { @class = "form-control", autofocus = true })
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Cidade
                                    @Html.TextBoxFor(m => m.CLIE_NM_CIDADE, new { @class = "form-control", autofocus = true })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-12">
                                    UF
                                    @Html.DropDownListFor(m => m.UF_CD_ID, (SelectList)ViewBag.UF, "Selecionar", new { @class = "form-control" })                            
                                </div>
                            </div>
                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    @Html.ButtonActionSubmit(text: "Filtrar")
                                    @Html.ButtonLinkIndex(text: "Incluir Novo Cliente", controller: "Cliente", action: "IncluirCliente", buttonClass: "primary")
                                    @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Cliente", action: "RetirarFiltroCliente")
                                    @Html.ButtonLinkIndexShort("Exibir Todos", null, "warning", new { @id = "todos", onclick = "ProcessaTodos()" })
                                    @Html.ButtonLinkIndex(text: "Exibir Lista de Clientes", controller: "Cliente", action: "MontarTelaCliente")
                                    @Html.ButtonLinkIndex(text: "Gerar Listagem", controller: "Cliente", action: "GerarRelatorioLista")
                                    @Html.ButtonLinkIndex(text: "Voltar", controller: "Cliente", action: "VoltarBaseCliente")
                                </div>
                            </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Clientes</h5>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="row">
                            @if (ViewBag.TipoCarga == 1)
                            {
                                <h4 style="color:green; font-weight: bold; background-color:beige">ATENÇÃO - Estão sendo exibidos apenas os @ViewBag.NumCarga clientes com contatos mais recentes</h4>
                            }
                            else
                            {
                                <h4  style="color:green; font-weight: bold; background-color:beige">ATENÇÃO - Estão sendo exibidos todos os clientes cadastrados</h4>
                            }
                            @if ((ViewBag.Listas as List<EntitiesServices.Model.CLIENTE>).Count > 0)
                            {
                                foreach (var cond in (ViewBag.Listas as List<EntitiesServices.Model.CLIENTE>))
                                {
                                    <div class="col-lg-4">  
                                        <div style="height: 250px;" class="contact-box">
                                            <a href="@Url.Action("EditarCliente", "Cliente", new { id = cond.CLIE_CD_ID })"></a>
                                            <div class="col-sm-3">
                                                @if (!String.IsNullOrEmpty(cond.CLIE_AQ_FOTO))
                                                {
                                                    <div class="text-center">
                                                        <img alt="image" class="img-circle m-t-xs img-responsive" src="@Url.Content(cond.CLIE_AQ_FOTO)" style="width: auto; height: auto; max-height: 50px; max-width: 50px;">
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="text-center">
                                                        <img src="~/Imagens/Base/icone_imagem.jpg" style="width: auto; height: auto; max-height: 55px; max-width: 45px;">
                                                    </div>
                                                }
                                            </div>
                                            <div class="col-sm-9">
                                                <h3><strong>@cond.CLIE_NM_NOME</strong></h3>
                                                <p><i class="fa fa-envelope"></i> <a href="@Url.Action("EnviarEMailCliente", "Cliente", new { id = cond.CLIE_CD_ID})">@cond.CLIE_NM_EMAIL</a> </p>
                                                <address>
                                                        @cond.CLIE_NM_ENDERECO<br>
                                                        @cond.CLIE_NR_NUMERO  @cond.CLIE_NM_COMPLEMENTO<br />
                                                        @if (cond.UF != null)
                                                        {
                                                            @cond.CLIE_NM_BAIRRO  @cond.CLIE_NM_CIDADE   @cond.UF.UF_SG_SIGLA<br>
                                                        }
                                                        else
                                                        {
                                                            @cond.CLIE_NM_BAIRRO   @cond.CLIE_NM_CIDADE<br>
                                                        }
                                                        @cond.CLIE_NR_CEP<br>
                                                    <abbr title="Telefone">P:</abbr> @cond.CLIE_NR_TELEFONE <br />
                                                    <abbr title="Cel">C:</abbr> <a href="@Url.Action("EnviarSMSCliente", "Cliente", new { id = cond.CLIE_CD_ID})">@cond.CLIE_NR_CELULAR</a>
                                                </address>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                }   
                            }
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    
    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
        });
    </script>

    <script>
        function ProcssaTodos() {
            var t = confirm("A exibição de todos os clientes cadastrados pode demorar. Confirna?");
            if(t == true)
            {
                $.ajax({
                    url: '../Cliente/MostrarTudoCliente'
                    , type: 'POST'
                });
            }
        }
    </script>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
